<li class="list-group-item clearfix">
  <%= simple_format note.body %>
  <p><strong>By <%= note.user.email %></strong> on <%= note.created_at %></p>
  <% if user_can_delete_note?(note) %>
    <%= button_to 'Delete Note', note_url(note), method: :delete %>
  <% end %>
</li>
