<div class="col-md-12">
  <h1>Edit Album <em><%= @album.name %></em></h1>

  <%= render 'form', album: @album, bands: @bands, types: @types,
                     selected_band: @selected_band %>
</div>
