<div class="col-md-12">
  <h1>Bands</h1>

  <ul class="list-group">
    <% @bands.each do |band| %>
      <li class="list-group-item">
         <%= link_to band.name, band_url(band) %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Add Band', new_band_url, class: 'btn btn-success' %>
</div>
