<div class="col-md-12">
  <h1>Bands</h1>

  <ul class="list-group">
    <% @bands.each do |band| %>
      <li class="list-group-item">
         <%= link_to band.name, band_url(band) %>
      </li>
    <% end %>
  </ul>

  <% if user_is_admin? %>
    <%= link_to 'Add Band', new_band_url, class: 'btn btn-success' %>
    <%= link_to 'View Users', users_url, class: 'btn btn-info' %>
  <% end %>
</div>
